body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

/* MAP */
.map-container {
  position: relative;
  width: 1000px;
  margin: auto;
}

#map {
  width: 100%;
  display: block;
}

/* DOT */
.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

/* PANEL */
.panel {
  position: fixed;
  right: -300px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #111;
  padding: 20px;
  transition: 0.5s;
}

.panel.active {
  right: 0;
}
